.forum-title{
    font-family: Oswald;
    color:aliceblue;
    padding: 8px;
    font-size: 38px;
}

.bottom-nav h3{
    font-family: Oswald;
    color:aliceblue;
    padding: 8px;
    margin: 0px;
    font-size: 18px;
}

.top-nav{
    height: 100px;
    width: 100%;
    background-color: #ffb74d;
    display: flex;
    align-items: center;
    padding: 0px;
    margin: 0px;
    border: 0px;
}

.bottom-nav{
    background-color: #FF9800;
    margin: 0px;
    padding: 0px;
    display: flex;
    height: 43px;
    width: 100%;
}

.login{
    font-family: Oswald;
    color:aliceblue;
    padding: 8px 24px 8px 8px;
    font-size: 24px;
}

body{
    padding: 0px;
    margin: 0px;
}

.spacer{
    flex-grow: 2;
}